:root
{
    --egyptian_blue: #1034A6;
    --cyan_blue: #1192A6;
    --grayish_blue: #374573;
    --my_gray: #2D2E33;
    --whiteish_gray: #919BA6;
    --tan: #A8A78D;
}

body
{
    margin: 0;
    background-color: black;
}

.initBackground .center
{
    opacity: 70%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    position: absolute;
}

.initBackground .name
{
    color: #FFFFFF;
    font-size: 30px;
    position: absolute;
    left: 45%;
    top: 45%;
}

.name
{
    padding-inline: 30px;
    padding-top: 5px;
    border-radius: 20px;
    opacity: 80%;
    font-family: Ethnocentric, monospace;
}

.headshot
{
    position: absolute;
    background-color: #374573;
    left: 20%;
    top: 30%;
    width: 500px;
    height: 465px;
    border-radius: 30px;
}

.navBar
{
    opacity: 90%;
}

.topBar
{
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #919BA6;
}

.topBar #logo
{
    position: absolute;
    left: 0;
    top: 0;
    padding: 18px 35px;
    height: 35px;
    width: auto;
    cursor: pointer;
}

.topBar a
{
    float: right;
    text-align: center;
    padding: 22px 40px 15px;
    text-decoration: none;
    font-family: Bahnschrift, monospace;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.leftSideBar
{
    position: absolute;
    left: 0;
    padding-right: 5px;
    height: 100%;
    width: 2%;
    background-color: #919BA6;
}

.rightSideBar
{
    position: absolute;
    right: 0;
    padding-left: 5px;
    height: 100%;
    width: 2%;
    background-color: #919BA6;
}

@font-face
{
    font-family: "Ethnocentric"; src: local(Ethnocentric);
}