/*General Styles*/
:root
{
    --egyptian_blue: #1034A6;
    --cyan_blue: #1192A6;
    --grayish_blue: #374573;
    --my_gray: #2D2E33;
    --whiteish_gray: #707880;
    --tan: #A8A78D;
    --blueish_gray: #445561;
    --standard_text: #EFEFEF;

    --text_gradient: linear-gradient(to right, var(--egyptian_blue), #016276);
}

html
{
    scroll-behavior: smooth;
    scroll-padding: 30px;
}

body
{
    margin: 0;
    height: auto;
    background: linear-gradient(180deg, #000000 10%, var(--my_gray) 55%, var(--grayish_blue) 90%);
}

.spacer
{
    height: 80px;
}

/*Front Image Styles*/
.initBackground #backgndImg
{
    opacity: 60%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.initBackground #backgndImgMobile
{
    display: none;
}

.initBackground .name
{
    color: #FFFFFF;
    position: absolute;
    left: -800px;
    top: 20%;
    -webkit-animation: slideName 1s forwards ;
    -webkit-animation-delay: 1.5s;
    animation: slideName 1s forwards;
    animation-delay: 1.5s;
}

.name
{
    padding-inline: 30px;
    letter-spacing: 2px;
    padding-top: 5px;
    border-radius: 20px;
    opacity: 80%;
    font-family: "Ethnocentric Rg", monospace;
}

.name h5, p
{
    font-size: 8px;
    display: inline;
}

.name h1
{
    font-size: 30px;
    margin: 5px;
}

.headshot
{
    position: absolute;
    background-color: var(--grayish_blue);
    left: -950px;
    top: 30%;
    max-width: 200px;
    max-height: 186px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    -webkit-animation: slideHeadshot 1s forwards;
    -webkit-animation-delay: 1.5s;
    animation: slideHeadshot 1s forwards;
    animation-delay: 1.5s;
}

#me /*directly keeps image sized within bounds of the headshot class*/
{
    width: 74%;
    height: 100%;
}

/*Front Image Animations*/
@-webkit-keyframes slideHeadshot
{
    100% { left: 20%; }
}

@keyframes slideHeadshot
{
    100% { left: 20%; }
}

@-webkit-keyframes slideHeadShotMobile
{
    100% { left: calc(50% - 150px); }
}

@keyframes slideHeadShotMobile
{
    100% { left: calc(50% - 150px); }
}

@-webkit-keyframes slideName
{
    100% { left: 45%; }
}

@keyframes slideName
{
    100% { left: 45%; }
}

@-webkit-keyframes slideNameMobile
{
    100% { left: calc(50% - 204px); }
}

@keyframes slideNameMobile
{
    100% { left: calc(50% - 204px); }
}


/*Navbar Styles*/
.topBar
{
    opacity: 95%;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    margin: auto;
    background-color: var(--whiteish_gray);
    transition: 0.7s;
}

.topBar #logo
{
    position: absolute;
    top: -10px;
    padding: 18px 35px;
    height: 35px;
    width: auto;
    cursor: pointer;
}

.navItems
{
    position: absolute;
    width: 100%;
    top: 10px;
}

.navItems ul li
{
    display: inline;
    float: right;
}

.navItems #menu
{
    display: none;
}

.navItems .navLink
{
    position: relative;
    text-decoration: none;
    font-family: Astrospace, monospace;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0.2px;
    padding: 20px 40px;
    cursor: pointer;
}

.navItems .navLink:after
{
    content: "";
    position: absolute;
    background: var(--text_gradient);
    height: 4px;
    width: 0;
    left: 20%;
    bottom: 6px;
    transition: 0.5s;
}

.navItems .navLink:hover
{
    color: var(--egyptian_blue);
    transition: 0.5s;
}

.navItems .navLink:hover:after
{
    width: 60%;
}

/*Divider Styles --removed from main build for now--*/
.skillz
{
    display: none;
    position: relative;
    margin-inside: 50px;
    background-color: var(--blueish_gray);
    border: solid var(--blueish_gray);
    margin-bottom: 0;
    width: 100%;
}

.skillz ul
{
    text-align: center;
    vertical-align: center;
    margin-right: 40px;
    white-space: nowrap;
    width: 100%;
}

.skillz ul li
{
    display: inline;
    list-style: none;
}

.skillz ul li img
{
    aspect-ratio: 1 / 1;
    min-width: 80px;
    width: 10%;
    max-width: 120px;
    height: auto;
    margin-inline: 5%;
}

/*About-Me Styles*/
.aboutme
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
    text-align: center;
    color: var(--standard_text);
    padding-top: 5%;
}

.aboutme h2
{
    font-family: Astrospace, monospace;
    font-size: 30px;
    letter-spacing: 5px;
    border-style: solid;
    border-top: var(--standard_text);
    border-left: var(--standard_text);
    border-right: var(--standard_text);
}

.whoAmI, .interests
{
    font-family: Astrospace, monospace;
    font-size: 12px;
    margin: 64px;
    line-height: 2.1;
    text-align: justify;
}

.whoAmI h3, .philosophy h3, .interests h3
{
    text-align: center;
    line-height: 2.5;
    font-size: 15px;
}

.whoAmI .circle, .interests .circle
{
    width: 30%;
    min-width: 300px;
    max-width: 500px;
    float: left;
    margin-right: 128px;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}

.philosophy
{
    font-family: Astrospace, monospace;
    font-size: 12px;
    margin: 64px;
    line-height: 2.1;
    text-align: justify;
}

.philosophy .circle
{
    width: 30%;
    min-width: 300px;
    max-width: 500px;
    float: right;
    margin-left: 128px;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}

/*Blog Styles*/
.blogs
{
    display: inline;
    text-align: center;
    color: var(--standard_text);
    padding-top: 5%;
}

.blogs h2
{
    font-family: Astrospace, monospace;
    font-size: 30px;
    border-style: solid;
    border-top: var(--standard_text);
    border-left: var(--standard_text);
    border-right: var(--standard_text);
}

.blogs .griddedText h3
{
    font-size: 16px;
    font-family: Astrospace, monospace;
    margin-bottom: 15px;
    margin-top: 8px;
}

.blogs .griddedText p
{
    font-size: 14px;
    font-family: "Blue Highway", monospace;
    color: #A1ABB6;
    display: block;
    line-height: 1.4;
}

.griddedText time
{
    font-size: 14px;
    font-family: "Blue Highway", monospace;
    color: #A1ABB6;
}

.griddedText h5
{
    margin: 10px 0 10px 0;
    padding: 0;
    color: var(--cyan_blue);
    font-size: 18px;
    position: relative;
    top: 3px;
}

.griddedText a
{
    text-decoration: none;
    display: flex;
}

.gridContainer
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 10px 10px 0;
}

.gridContainer > div
{
    text-align: center;
    font-size: 30px;
}

.gridContainer > div img
{
    max-width: 500px;
    width: 85%;
    border-radius: 15px;
    aspect-ratio: 13/16;
}

.gridContainer .griddedText
{
    text-align: left;
    margin-left: 7%;
    margin-right: 7%;
}

.griddedText h6
{
    margin: 10px 10px 10px 0;
    padding: 0;
    color: var(--standard_text);
}

.griddedText .carotIcon
{
    color: var(--cyan_blue);
}

.griddedText a:hover h6
{
    color: var(--cyan_blue);
    transition: 0.5s;
    padding-left: 20%; /*bug but it looks cool so I'm leaving it*/
    white-space: nowrap;
}

.griddedText a h6
{
    color: var(--standard_text);
    transition: 0.5s;
    white-space: nowrap;
}

/* Footer Styles */
.footerDetails
{
    background-color: var(--whiteish_gray);
    color: #000000;
    padding: 0 20px;
    font-family: "Blue Highway", monospace;
    opacity: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerDetails hr
{
    height: 200px;
}

.footerBrand
{
    flex: 1;
    max-width: 220px;
}

#logobottom
{
    max-width: 100%;
    height: auto;
}

.footerText
{
    margin-top: 20px;
    font-size: 14px;
}

.contactList
{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 16px;
}

.contactItem
{
    margin-bottom: 10px;
}

.contactItem p
{
    font-size: 16px;
}

.generalFooterList
{
    flex: 1;
    min-width: 140px;
    max-width: 240px;
    text-align: center;
}

.generalFooterList ul
{
    list-style-type: none;
}

.generalFooterList ul li
{
    padding: 5px;
}

.generalFooterList ul li .footerLink
{
    font-size: 16px;
}

.generalFooterList .media
{
    display: inline-flex;
    translate: -10%;
}

.footerLink
{
    color: #000000;
    text-decoration: none;
    display: block;
    margin-top: 5px;
    font-size: 14px;
}

.footerLink:hover
{
    text-decoration: underline;
    color: var(--egyptian_blue);
}

/* Copyright Styles */
.copyright
{
    background-color: var(--my_gray);
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

.copyright p
{
    font-size: 14px;
    line-height: 1.8;
}

/* Responsive Parameters */

/*Phone & Other small devices*/
@media (max-width: 890px)
{
    .initBackground #backgndImg
    {
        display: none;
    }

    .initBackground #backgndImgMobile
    {
        display: inline;
        opacity: 60%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .headshot
    {
        max-width: 300px;
        max-height: 279px;
        top: 20%;
        -webkit-animation: slideHeadShotMobile 1s forwards ;
        -webkit-animation-delay: 1.5s;
        animation: slideHeadShotMobile 1s forwards;
        animation-delay: 1.5s;
    }

    .initBackground .name
    {
        top: 70%;
        -webkit-animation: slideNameMobile 1s forwards ;
        -webkit-animation-delay: 1.5s;
        animation: slideNameMobile 1s forwards;
        animation-delay: 1.5s;
    }

    .name
    {
        text-align: center;
        width: 408px;
        margin: 0;
        padding: 0;
    }

    .name h5, p
    {
        font-size: 9px;
    }

    .name h1
    {
        font-size: 35px;
    }

    .topBar
    {
        transition: 0s;
    }

    .navItems ul
    {
        display: none;
    }

    .navItems #menu
    {
        float: right;
        display: inline;
        margin-top: 8px;
        margin-right: 40px;
        width: 35px;
    }

    .whoAmI .circle, .interests .circle, .philosophy .circle
    {
        width: 45%;
        min-width: 100px;
        max-width: 250px;
    }

    .footerDetails
    {
        display: block;
    }

    .footerDetails hr
    {
        height: 50px;
    }

    .footerBrand
    {

    }

    #logobottom
    {
        padding-top: 20px;
    }

    /* -- Try to verticalize this
    .footerText
    {
        font-size: 12px;
    }

    .contactItem p, .contactItem a
    {
        font-size: 12px;
    }

    .generalFooterList ul li .footerLink
    {
        font-size: 12px;
    }*/
}

/*Smaller than the navBar*/
@media (min-width: 890px)
{
/*Rework navBar into a selection menu*/
    .initBackground #backgndImg
    {
        display: inline;
    }

    .initBackground #backgndImgMobile
    {
        display: none;
    }

    .aboutme h2
    {
        font-size: 40px;
    }

    .blogs h2
    {
        font-size: 40px;
    }

    .headshot
    {
        max-width: 300px;
        max-height: 279px;
        top: 30%;
    }

    .name h5, p
    {
        font-size: 10px;
    }

    .name h1
    {
        font-size: 30px;
    }
    .initBackground .name
    {
        top: 40%;
    }

    .blogs .griddedText h3
    {
        font-size: 20px;
    }
}

/*Reduced functionality, but still sizable*/
@media (min-width: 1096px)
{
/*only thing needing work is to scale down the main image and other text sizes*/
    .aboutme h2
    {
        font-size: 50px;
    }

    .blogs h2
    {
        font-size: 50px;
    }

    .headshot
    {
        max-width: 400px;
        max-height: 372px;
        top: 30%;
    }

    .initBackground .name
    {
        top: 45%;
    }

    .name h5, p
    {
        font-size: 11px;
    }

    .name h1
    {
        font-size: 40px;
    }

    .blogs .griddedText h3
    {
        font-size: 24px;
    }
}

/*Minimum size for full functionality*/
@media (min-width: 1344px)
{
    .aboutme h2
    {
        font-size: 60px;
    }

    .blogs h2
    {
        font-size: 60px;
    }

    .headshot
    {
        max-width: 500px;
        max-height: 465px;
        top: 30%;
    }

    .initBackground .name
    {
        top: 45%;
    }

    .name h5, p
    {
        font-size: 13px;
    }

    .name h1
    {
        font-size: 60px;
    }

}

/* Scroll Bar Style */
::-webkit-scrollbar
{
    width: 12px;
}
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 5px #919BA6;
}
::-webkit-scrollbar-thumb
{
    background: var(--egyptian_blue);
}
::-webkit-scrollbar-thumb:hover
{
    background: #002486;
}

/* Font Styles */
@font-face {
    font-family: "Ethnocentric Rg";
    src: url("assets/ethnocentric rg.ttf") format('truetype');
}

@font-face {
    font-family: "Astrospace";
    src: url("assets/Astrospace.ttf") format("truetype");
}

@font-face {
    font-family: "Blue Highway";
    src: url("assets/blue highway rg.otf") format("opentype");
}
/*
Common Breakpoints:
1920×1080 (9.61%)
1366×768 (7.87%)
360×640 (4.36%)
414×896 (4.34%)
1536×864 (4.11%)
 */