h1
{
    text-align: center;
    margin: 30px;
    font-family: "Ethnocentric Rg", monospace;
    font-size: 42px;
    color: #919BA6;
}

h2
{
    text-align: center;
    margin: 30px;
    font-family: "Ethnocentric Rg", monospace;
    font-size: 18px;
    color: #919BA6;
}