/*index.css has these elements because it has to.*/

body
{
    margin: 0;
    background-color: black;
}

.navBar
{
    opacity: 90%;
}

.topBar
{
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #919BA6;
}

.topBar #logo
{
    position: absolute;
    left: 0;
    top: 0;
    padding: 18px 35px;
    height: 35px;
    width: auto;
    cursor: pointer;
}

.topBar a
{
    float: right;
    text-align: center;
    padding: 22px 40px 15px;
    text-decoration: none;
    font-family: Bahnschrift, monospace;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.leftSideBar
{
    position: absolute;
    left: 0;
    padding-right: 5px;
    height: 100%;
    width: 2%;
    background-color: #919BA6;
}

.rightSideBar
{
    position: absolute;
    right: 0;
    padding-left: 5px;
    height: 100%;
    width: 2%;
    background-color: #919BA6;
}